<div @fadeInAnimation>
    <!-- banner start -->
    <div class="cat_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="top-banner-wrapper">
                        <img src="../assets/images/custom/Supagrab-Sale-.png" class="img-fluid   cat_bann_img" alt="">
                        <div class="bnn_content">
                            <h2>ABOUT US</h2>
                            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);"
                                            [routerLink]="['/home']">HOME</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">ABOUT US</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- about section start -->
    <section class="about-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" *ngIf="cmsData != null; else default_templ">
                    {{ cmsData?.value }}
                </div>

                <ng-template #default_templ>
                    <div class="col-sm-12">
                        <h3 class="text-center">WELCOME TO SUPAGRAB</h3>
                        <h4>Our Mission &amp; Vision</h4>
                        <p>SupaGrab is a Fashion accessories and gift items hub. We possess the latest designs in a variety
                            of Necklaces, Earrings, Bracelets and Pendants. Our Registered Office is Situated at Mohali,
                            India. We are proud to hold certification from various associations. We strive to make people a
                            little bit more gorgeous with the unique Jewelry range of our brand. SupaGrab provides online
                            shopping throughout the world. We try to provide backend support to each of our customer as much
                            as possible.</p><br>
                        <p>Thank you for being here and Happy Supa-Grabbing !</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </section>
    <!-- about section end -->

    <!--Team start-->
    <section id="team" class="team section-b-space slick-default-margin ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our Team</h2>
                    <div class="team-4 row">
                        <div class="col-sm-12 col-md-4">
                            <div>
                                <img src="../assets/images/custom/about_team_a-min.png" class="img-fluid   bg-img"
                                    alt="">
                            </div>
                            <h4>Hileri Keol</h4>
                            <h6>CEo & Founder At Company</h6>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div>
                                <img src="../assets/images/custom/about_team_b-min.png" class="img-fluid   bg-img"
                                    alt="">
                            </div>
                            <h4>Hileri Keol</h4>
                            <h6>CEo & Founder At Company</h6>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div>
                                <img src="../assets/images/custom/about_team_c-min.png" class="img-fluid   bg-img"
                                    alt="">
                            </div>
                            <h4>Hileri Keol</h4>
                            <h6>CEo & Founder At Company</h6>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team ends-->
    
</div>