<!-- section start -->
<section class="section-b-space wishlist-dash-pg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-dashboard-nav></app-dashboard-nav>
            </div>
            <div class="col-lg-9" @fadeInAnimation>
                <div class="dashboard-right">
                    <div class="dashboard">
						<div class="page-title">
                            <h2>My Wishlist</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>Hello, MARK JECNO !</p>                            
                        </div>
                        <div class="product-order mt-4 prod-wish">
							<div class="row product-order-detail">								
								<div class="col-6 order_detail">
									<div>
										<h5><a href="product-page(left-image).php">Beautiful Swarovski Stud Earrings</a></h5>
                                        <p class="stock in-stock">In Stock</p>
									</div>
								</div>
								<div class="col-3 order_detail">
									<div>
										<h5>$63.00</h5>
									</div>
								</div>								
								<div class="col-3 order_detail wish_btn">
									<div>
										<button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        <button class="btn btn-sm btn-solid" type="submit"><i class="ti-shopping-cart"></i></button>
									</div>
								</div>
							</div>
                            <div class="row product-order-detail">								
								<div class="col-6 order_detail">
									<div>
										<h5><a href="product-page(left-image).php">Snow Black Trendy Danglers</a></h5>
                                        <p class="stock out-of-stock">Out of Stock</p>
									</div>
								</div>
								<div class="col-3 order_detail">
									<div>
										<h5>$63.00</h5>
									</div>
								</div>								
								<div class="col-3 order_detail wish_btn">
									<div>
										<button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        <button class="btn btn-sm btn-solid" type="submit"><i class="ti-shopping-cart"></i></button>
									</div>
								</div>
							</div>
                            <div class="row product-order-detail">								
								<div class="col-6 order_detail">
									<div>
										<h5><a href="product-page(left-image).php">Sparkling Sea Beads Bracelet</a></h5>
                                        <p class="stock in-stock">In Stock</p>
									</div>
								</div>
								<div class="col-3 order_detail">
									<div>
										<h5>$63.00</h5>
									</div>
								</div>								
								<div class="col-3 order_detail wish_btn">
									<div>
										<button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        <button class="btn btn-sm btn-solid" type="submit"><i class="ti-shopping-cart"></i></button>
									</div>
								</div>
							</div>
                            <div class="row product-order-detail">								
								<div class="col-6 order_detail">
									<div>
										<h5><a href="product-page(left-image).php">Beautiful Heart Shaped Swarovski Earrings</a></h5>
                                        <p class="stock out-of-stock">Out of Stock</p>
									</div>
								</div>
								<div class="col-3 order_detail">
									<div>
										<h5>$63.00</h5>
									</div>
								</div>								
								<div class="col-3 order_detail wish_btn">
									<div>
										<button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        <button class="btn btn-sm btn-solid" type="submit"><i class="ti-shopping-cart"></i></button>
									</div>
								</div>
							</div>
																			
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->