<!-- section start -->
<section class="section-b-space wishlist-dash-pg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-dashboard-nav></app-dashboard-nav>
            </div>
            <div class="col-lg-9" @fadeInAnimation>
                <div class="dashboard-right">
                    <div class="dashboard">
						<div class="page-title">
                            <h2>My Wishlist </h2>
                        </div>
                        <div class="welcome-msg">
                            <p>Hello, MARK JECNO !</p>                            
                        </div>
                        <div class="product-order mt-4 prod-wish" *ngIf="wishList?.length > 0; else noWishListTemp;">

							<div class="row product-order-detail" *ngFor="let wish of wishList; let i = index; trackBy:identity">
								<div class="col-6 order_detail">
									<div>
										<h5><a href="javascript:void(0);" routerLink="/product/view/{{wish?.product_detail?.product_slug}}">{{ wish?.product_detail?.product_title }}</a></h5>
                                        <p class="stock in-stock">In Stock</p>
									</div>
								</div>
								<div class="col-3 order_detail">
									<div>
										<h5>{{ wish?.product_detail?.product_price | currency:'INR' }}</h5>
									</div>
								</div>								
								<div class="col-3 order_detail wish_btn">
									<div>
										<button (click)="confirmDeleteWishListById( wish?._id );" class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        <button class="btn btn-sm btn-solid" type="button"><i class="ti-shopping-cart"></i></button>
									</div>
								</div>
							</div>

						</div>

						<ng-template #noWishListTemp>
							<div class="product-order mt-4 prod-wish">
		
								<div class="card_box_main" >
									<div class="row product-card">No wish added to the list yet.</div>
								</div>
							</div>
						</ng-template>
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>
<!-- section end -->