<div @fadeInAnimation>

    <!-- Common Heading Start -->
    <section class="common_heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title1">
                        <h2 class="title-inner1">Your Wishlist</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Common Heading End -->

    <!--section start-->
    <section class="wishlist-section section-b-space pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card_box_main">
                        <div class="row product-card">
                            <div class="col-6 order_detail">
                                <div>
                                    <h5><a href="product-page(left-image).php">Beautiful Swarovski Stud Earrings</a>
                                    </h5>
                                    <p class="stock in-stock">In Stock</p>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h5>$63.00</h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-solid" type="submit"><i
                                            class="ti-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row product-card">
                            <div class="col-6 order_detail">
                                <div>
                                    <h5><a href="product-page(left-image).php">Snow Black Trendy Danglers</a></h5>
                                    <p class="stock out-of-stock">Out of Stock</p>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h5>$63.00</h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-solid" type="submit"><i
                                            class="ti-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row product-card">
                            <div class="col-6 order_detail">
                                <div>
                                    <h5><a href="product-page(left-image).php">Sparkling Sea Beads Bracelet</a></h5>
                                    <p class="stock in-stock">In Stock</p>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h5>$63.00</h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-solid" type="submit"><i
                                            class="ti-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row product-card">
                            <div class="col-6 order_detail">
                                <div>
                                    <h5><a href="product-page(left-image).php">Beautiful Heart Shaped Swarovski
                                            Earrings</a></h5>
                                    <p class="stock out-of-stock">Out of Stock</p>
                                </div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h5>$63.00</h5>
                                </div>
                            </div>
                            <div class="col-3 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-solid" type="submit"><i
                                            class="ti-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wishlist-buttons">
                <div class="col-12">
                    <a href="javascript:void(0);" [routerLink]="['/home']" class="btn btn-solid">continue shopping</a>
                    <a href="javascript:void(0);" [routerLink]="['/checkout']" class="btn btn-solid">check out</a>
                </div>
            </div>
        </div>
    </section>
    <!--section end-->
</div>