<div @fadeInAnimation>
    <!-- Common Heading Start -->
    <section class="common_heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title1">
                        <h2 class="title-inner1">Search</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Common Heading End -->

    <!--section start-->
    <section class="authentication-page search_pg pt-0">
        <div class="container">
            <section class="search-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <form class="form-header">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                        placeholder="Search Products......">
                                    <div class="input-group-append">
                                        <button class="btn btn-solid"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- section end -->


    <!-- product section start -->
    <!-- *ngIf="products.length > 0; else templ_notFound" -->

    <section class="section-b-space ratio_asos search_prod" *ngIf="products && products.length > 0; else noDataTempl">
        <div class="container">
            <div class="row search-product">
                
                <div 
                    class="col-xl-3 col-md-3 col-6"
                    *ngFor="let product of products; index as i">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <!-- [routerLink]="[/product/view/product-page(left-image)']" -->
                                <a 
                                    href="javascript:void(0);"
                                    routerLink="/product/view/{{ product?.product_slug }}">
                                    <img
                                        src="../assets/images/custom/1-min-12.jpg" 
                                        class="img-fluid bg-img"
                                        alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="javascript:void(0);"
                                    routerLink="/product/view/{{ product?.product_slug }}">
                                    <img
                                        src="../assets/images/custom/1-min-12.jpg" 
                                        class="img-fluid   bg-img"
                                        alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> 
                                <a 
                                    href="javascript:void(0);" 
                                    (click)="addToWishList( product?._id, product );" 
                                    title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="javascript:void(0);" 
                                routerLink="/product/view/{{ product?.product_slug }}">
                                <h6>{{ product?.product_title }}</h6>
                            </a>
                            <h4>$500.00 <del>$600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <ng-template #noDataTempl>

        <section class="section-b-space ratio_asos search_prod">
            <div class="container">
                <div class="row search-product">
                    <div class="col-xl-12 col-md-12 col-12">
                        
                        <div class="alert alert-danger" role="alert">
                            No record found.
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </ng-template>
    <!-- product section end -->
</div>