<div @fadeInAnimation>

    <section class="single_prod_pg">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-2 col-xs-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="slider-right-nav">

                                    <!-- <div><img src="../assets/images/custom/20210414_201442-min.jpg" alt=""
                                            class="img-fluid  "></div>
                                    <div><img src="../assets/images/custom/20210414_174357-min-1.jpg" alt=""
                                            class="img-fluid  "></div>
                                    <div><img src="../assets/images/custom/20210424_125241-min.jpg" alt=""
                                            class="img-fluid  "></div>
                                    <div><img src="../assets/images/custom/20210424_125511-min.jpg" alt=""
                                            class="img-fluid  "></div> -->

                                    <carousel
                                        [arrows]="false"
                                        [height]=100
                                        [images]="productImages" 
                                        [autoplay]="true"
                                        [autoplayInterval]="3000"
                                        [counter]="false"
                                        [cellsToShow]="1">
                                    </carousel>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-10 col-xs-12 order-up">
                        <div class="product-right-slick">
                            <!-- <div><img src="../assets/images/custom/20210414_201442-min.jpg" alt=""
                                    class="img-fluid   image_zoom_cls-0"></div>
                            <div><img src="../assets/images/custom/20210414_174357-min-1.jpg" alt=""
                                    class="img-fluid   image_zoom_cls-1"></div>
                            <div><img src="../assets/images/custom/20210424_125241-min.jpg" alt=""
                                    class="img-fluid   image_zoom_cls-2"></div>
                            <div><img src="../assets/images/custom/20210424_125511-min.jpg" alt=""
                                    class="img-fluid   image_zoom_cls-3"></div> -->

                            <carousel 
                                [height]=500
                                [images]="productImages" 
                                [autoplay]="true"
                                [autoplayInterval]="3000"
                                [counter]="true"
                                [cellsToShow]="1">
                            </carousel>
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>{{ productData?.product_title }}</h2>
                            <div class="rating-section">
                                <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                        class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </div>
                                <h6>120 ratings</h6>
                            </div>
                            <h3 class="price-detail">${{ productData?.product_price }} <del>$459.00</del><span>55% off</span></h3>
                            <ul class="color-variant">
                                <li class="bg-light0 active"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <div id="selectSize" class="addeffect-section product-description border-product">
                                <h6 class="product-title size-text">select size</h6>
                                <select class="form-select size_dropdown" aria-label="Default select example">
                                    <option selected>Please Select Size</option>
                                    <option value="1">Small</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Large</option>
                                    <option value="3">Extra large</option>
                                </select>
                                <h6 class="error-message">please select size</h6>
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group"><span class="input-group-prepend"><button type="button"
                                                class="btn quantity-left-minus" data-type="minus" data-field=""><i
                                                    class="ti-angle-left"></i></button> </span>
                                        <input type="text" name="quantity" class="form-control input-number" value="1">
                                        <span class="input-group-prepend"><button type="button"
                                                class="btn quantity-right-plus" data-type="plus" data-field=""><i
                                                    class="ti-angle-right"></i></button></span>
                                    </div>
                                </div>
                                <div class="stock_sec">
                                    <p class="stock in-stock">In Stock</p>
                                </div>
                            </div>
                            <div class="product-buttons">
                                <a href="javascript:void(0)" (click)="addToCart( productData?._id, productData )"
                                    id="cartEffect" class="btn btn-solid hover-solid btn-animation">
                                    <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i> add to cart
                                </a>
                                <a href="javascript:void(0)" (click)="addToWishList( productData?._id, productData )"
                                    class="btn btn-solid">
                                    <i class="fa fa-bookmark fz-16 me-2" aria-hidden="true"></i>wishlist
                                </a>
                            </div>

                            <div class="border-product">
                                <h6 class="product-title">Sales Ends In</h6>
                                <div class="timer text-danger">
                                    <!-- <p id="demo"></p> -->
                                    <countdown [config]="countdownConfig"></countdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- product-tab starts -->
    <section class="tab-product m-0 single_pro_tabs" *ngIf="productData?.attributes.length > 0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                        <li class="nav-item" *ngFor="let product of productData?.attributes; let i = index; trackBy:identify"
                            (click)="showTabDetails( i )" [attr.data-index]="i">

                            <!-- <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-selected="true"> -->
                            <a class="nav-link" [class.active]="lastActivatedTabId === i" id="tab-{{ i }}"
                                data-bs-toggle="tab" href="#href-{{ i }}" role="tab">
                                <i class="icofont icofont-ui-home"></i>{{ product?.tab_name }}
                            </a>
                            <div class="material-border"></div>
                        </li>
                    </ul>
                    <div class="tab-content nav-material" id="top-tabContent">

                        <!-- deeps additional div starts -->
                        <div *ngFor="let product of productData?.attributes; let i = index; trackBy:identify">
                            <!-- class="tab-pane fade show active"  -->
                            <div class="tab-pane fade" [class.show]="lastActivatedTabId === i"
                                [class.active]="lastActivatedTabId === i" id="href-{{ i }}" role="tabpanel"
                                [attr.aria-labelledby]="'tab-'+i" [innerHTML]="product.tab_value">
                            </div>
                        </div>
                        <!-- deeps additional div ends -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-tab ends -->


    <!-- product section start -->
    <section class="section-b-space ratio_asos related_section">
        <div class="container">
            <div class="row">
                <div class="col-12 product-related">
                    <h2>related products</h2>
                </div>
            </div>
            <div class="row search-product">
                <div class="col-xl-3 col-md-3 col-6">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/2-min-5.jpg" class="img-fluid   bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/4-min-6.jpg" class="img-fluid   bg-img" alt=""></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="javascript:void(0);" [routerLink]="['/product/view/product-page(right-image)']">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00 <del>$600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-6">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/3-min-24-1.jpg" class="img-fluid   bg-img"
                                        alt=""></a>
                            </div>
                            <div class="back">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/3-min-14.jpg" class="img-fluid   bg-img"
                                        alt=""></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="javascript:void(0);" [routerLink]="['/product/view/product-page(right-image)']">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00 <del>$600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-6">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/1-min-2-1.jpg" class="img-fluid   bg-img"
                                        alt=""></a>
                            </div>
                            <div class="back">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/1-min-12.jpg" class="img-fluid   bg-img"
                                        alt=""></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="javascript:void(0);" [routerLink]="['/product/view/product-page(right-image)']">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00 <del>$600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-6">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/1-min-24-1.jpg" class="img-fluid   bg-img"
                                        alt=""></a>
                            </div>
                            <div class="back">
                                <a href="javascript:void(0);"
                                    [routerLink]="['/product/view/product-page(right-image)']"><img
                                        src="../assets/images/custom/2-min-6.jpg" class="img-fluid   bg-img" alt=""></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="javascript:void(0);" [routerLink]="['/product/view/product-page(right-image)']">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00 <del>$600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>