<!-- personal deatail section start -->
<section class="contact-page register-page profile_pg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-dashboard-nav></app-dashboard-nav>
            </div>
            <div class="col-sm-9" @fadeInAnimation>
                <div _ngcontent-hvt-c57="" class="dashboard-right ng-tns-c57-2">
                    <div _ngcontent-hvt-c57="" class="dashboard ng-tns-c57-2">
                        <h3>PERSONAL DETAIL</h3>
                        <!-- <form class="theme-form imm-grayfrm_box"> -->
                        <form class="theme-form imm-grayfrm_box" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter first name" required="" formControlName="first_name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.first_name.errors.required">first name is required</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" formControlName="last_name" placeholder="Enter last name" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Phone number</label>
                                    <input type="text" class="form-control" id="review" placeholder="Enter your phone number" required="" formControlName="contact_number" [ngClass]="{ 'is-invalid': submitted && f.contact_number.errors }">
                                    <div *ngIf="submitted && f.contact_number.errors" class="invalid-feedback">
                                        <div *ngIf="f.contact_number.errors.required">phone number is required</div>
                                        <div *ngIf="f.contact_number.errors.minlength">phone number must be 10 digits in length</div>
                                        <div *ngIf="f.contact_number.errors.pattern">only numeric values allowed.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Enter your email" required="" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
										<div *ngIf="f.email.errors.required">Email is required</div>
										<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
									</div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <label for="review">Write Your Message</label>
                                    <textarea class="form-control mb-0" placeholder="Write Your Message"
                                            id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div> -->
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-solid" type="submit">Save setting</button>
                                </div>
                            </div>
                        </form>

                        <!-- <h3 class="pt-3">SHIPPING ADDRESS</h3>
                        <form class="theme-form imm-grayfrm_box">
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="name">flat / plot</label>
                                    <input type="text" class="form-control" id="home-ploat" placeholder="company name"
                                        required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Address *</label>
                                    <input type="text" class="form-control" id="address-two" placeholder="Address"
                                        required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Zip Code *</label>
                                    <input type="text" class="form-control" id="zip-code" placeholder="zip-code"
                                        required="">
                                </div>
                                <div class="col-md-6 select_input">
                                    <label for="review">Country *</label>
                                    <select class="form-control" size="1">
                                        <option value="India">India</option>
                                        <option value="UAE">UAE</option>
                                        <option value="U.K">U.K</option>
                                        <option value="US">US</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="review">City *</label>
                                    <input type="text" class="form-control" id="city" placeholder="City" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Region/State *</label>
                                    <input type="text" class="form-control" id="region-state" placeholder="Region/state"
                                        required="">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-solid" type="submit">Save setting</button>
                                </div>
                            </div>
                        </form> -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
