<div @fadeInAnimation>
    <!-- banner start -->
    <div class="cat_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="top-banner-wrapper">
                        <img src="../assets/images/custom/Supagrab-Sale-.png" class="img-fluid   cat_bann_img" alt="">
                        <div class="bnn_content">
                            <h2>FAQ</h2>
                            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);"
                                            [routerLink]="['/home']">HOME</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!--section start-->
    <section class="faq-section section-b-space faq-page pt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="accordion theme-accordion" [attr.id]="'accordionExample'" *ngIf="faqList?.length; else noFaqListTemp;">

                        <div class="card" *ngFor="let faq of faqList; let i = index">
                            <div class="card-header" [attr.id]="'heading-' + i">
                                <h5 class="mb-0">
                                    
                                    <button class="btn btn-link" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse-' + i" [attr.aria-expanded]="'true'" [attr.aria-controls]="'collapse-' + i" *ngIf="i == 0; else load_templ;">
                                        {{ faq?.question }}
                                    </button>

                                    <ng-template #load_templ>
                                        <button class="btn btn-link" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse-' + i" [attr.aria-expanded]="'false'" [attr.aria-controls]="'collapse-' + i">
                                            {{ faq?.question }}
                                        </button>
                                    </ng-template>

                                </h5>
                            </div>
                            <div [attr.id]="'collapse-' + i" class="collapse show" [attr.aria-labelledby]="'heading-' + i" [attr.data-bs-parent]="'#accordionExample'" *ngIf="i == 0; else load_templ2;">
                                <div class="card-body">
                                    <p>
                                        {{ faq?.answer }}
                                    </p>
                                </div>
                            </div>

                            <ng-template #load_templ2>
                                <div [attr.id]="'collapse-' + i" class="collapse hide" [attr.aria-labelledby]="'heading-' + i" [attr.data-bs-parent]="'#accordionExample'">
                                    <div class="card-body">
                                        <p>
                                            {{ faq?.answer }}
                                        </p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>

                    </div>

                    <ng-template #noFaqListTemp>
                                
                        <div class="accordion theme-accordion" id="accordionExample">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <img src="../assets/images/custom/empty-wishlist.png" class="img-fluid mb-4">
                                <h3><strong>No Faqs found.</strong></h3>
                                <h4><a href="javascript:void(0);" [routerLink]="['/home']" class="btn btn-solid">Explore More</a></h4>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
</div>