@media only screen and (max-width: 1199px){
    .toggle-header {
        right: 0px;
    }
    ul.menu-list, ul#main-menu li:hover ul {
        display: none;        
    }
    header .menu-list.showHide-mobile {
        display: block !important;
        width: auto;
    }    
}

@media only screen and (min-width: 1200px){
    ul#main-menu li:hover ul {
        display: block !important;
    }
}