@media only screen and (max-width: 1199px){
    .toggle-header {
        right: 0px;
    }
    ul.menu-list, ul#main-menu li:hover ul {
        display: none;        
    }
    header .menu-list.showHide-mobile {
        display: block !important;
        width: auto;
    }    
    nav#main-nav ul#main-menu li > a {
        width: max-content;
        position: unset;
    }

    nav#main-nav ul#main-menu li .sub-arrow {
        position: absolute;
        right: 0;
        z-index: 999;
        top: 20px;
    }

    nav#main-nav ul#main-menu li {
        position: relative;
    }
}

@media only screen and (min-width: 1200px){
    ul#main-menu li:hover ul {
        display: block !important;
    }
}