<div @fadeInAnimation>

    <!-- Common Heading Start -->
    <section class="common_heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title1">
                        <h2 class="title-inner1">Your Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Common Heading End -->

    <!--section start-->
    <section class="cart-section section-b-space pt-0">
        <div class="container" *ngIf="cartData?.length > 0; else itemNotFound">

            <div class="row">
                <div class="col-md-12">
                    <div class="card_box_main">
                        
                        <div class="row product-card align-items-center" *ngFor="let cart of cartData; index as i">
                            <div class="col-4 order_detail">
                                <div>
                                    <h5>
                                        <a 
                                           href="javascript:void(0);"
                                           [routerLink]="['/product/view/', cart?.product_detail?.product_slug ]">
                                           {{ cart?.product_detail?.product_title }}
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$63.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail justify-content-center">
                                <div>
                                    <span><i class="ti-close"></i></span>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$63.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail wish_btn">
                                <div>
                                    <button 
                                        (click)="confirmRemoveCartItem( cart?.user_id, cart?._id )"
                                        class="btn btn-sm btn-solid" 
                                        type="button">
                                        <i class="fa fa-trash" 
                                            aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row product-card align-items-center">
                            <div class="col-4 order_detail">
                                <div>
                                    <h5><a href="javascript:void(0);"
                                            [routerLink]="['/product/view/product-page(left-image)']">Snow Black Trendy
                                            Danglers</a></h5>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$75.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail justify-content-center">
                                <div>
                                    <span><i class="ti-close"></i></span>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number"
                                                value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$75.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row product-card align-items-center">
                            <div class="col-4 order_detail">
                                <div>
                                    <h5><a href="javascript:void(0);"
                                            [routerLink]="['/product/view/product-page(left-image)']">Beautiful Heart
                                            Shaped Swarovski Earrings</a></h5>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$75.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail justify-content-center">
                                <div>
                                    <span><i class="ti-close"></i></span>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number"
                                                value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$75.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row product-card align-items-center">
                            <div class="col-4 order_detail">
                                <div>
                                    <h5><a href="javascript:void(0);"
                                            [routerLink]="['/product/view/product-page(left-image)']">Sparkling Sea
                                            Beads Bracelet</a></h5>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$95.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail justify-content-center">
                                <div>
                                    <span><i class="ti-close"></i></span>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number"
                                                value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 order_detail justify-content-center">
                                <div>
                                    <h5>$95.00</h5>
                                </div>
                            </div>
                            <div class="col-1 order_detail wish_btn">
                                <div>
                                    <button class="btn btn-sm btn-solid" type="submit"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <div class="cart-total-price">
                        <h4>Total Price :</h4>
                        <p>$6935.00</p>
                    </div>
                </div>
            </div>

            <div class="row cart-buttons">
                <div class="col-6"><a href="javascript:void(0);" [routerLink]="['/home']" class="btn btn-solid">continue
                        shopping</a></div>
                <div class="col-6"><a href="javascript:void(0);" [routerLink]="['/checkout']"
                        class="btn btn-solid">check out</a></div>
            </div>
        </div>

        <ng-template #itemNotFound>
            <div class="container">
                <div class="row">
                    <div class="card_box_main">
                        <div class="col-md-12">
                    
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <img src="../assets/images/custom/empty-wishlist.png" class="img-fluid mb-4">
                                <h3><strong>Cart is Empty</strong></h3>
                                <h4><a href="javascript:void(0);" [routerLink]="['/home']" class="btn btn-solid">Explore More</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </section>
    <!--section end-->
</div>