<div @fadeInAnimation>
	<!--section start-->
	<section class="login-page section-b-space">
		<div class="container">
			<div class="row">
				<div class="col-lg-12"><div  class="title1"><h2 class="title-inner1">LOGIN</h2></div></div>
			</div>
			<div class="row">								
				<div class="col-lg-12 col-sm-12 col-md-12">
					<div class="login_sec">					
						<img src="../../../../assets/images/custom/contact_right.png" alt="" class="img-fluid login_side_img">
						<div class="theme-card">
							<div class="login_google_sec text-center">
								<div *ngIf="!user" class="login_google_btn">
									<!-- <h2 class="title-font">Sign in with Google</h2> -->
									<div class="google_content">
										<h4>Not signed in</h4>									
									</div>
									<div class="google_content_btn">									
										<button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()">
											<!-- <span class="fa fa-google"></span> -->
											<img src="../../../../assets/images/google-login/btn_google_signin_dark_focus_web.png">
										</button>
									</div>
									<div class="login_terms">
										<p>By continuing, you agree to Supagrab's <a href="terms-and-conditions">Terms of Use</a> and <a href="privacy-policy">Privacy Policy</a>.</p>
									</div>
								</div>

								<!-- if user logged in starts -->
								<div *ngIf="user" class="login_sign_btn login_google_btn">
									<h2 class="title-font">Signed in with Google</h2>
									<!-- <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}"> -->
									<div class="google_content">
										<h4>{{ user.name }}</h4>
										<p>{{ user.email }}</p>
									</div>
									<div class="google_content_btn">
										<button class="btn btn-solid" (click)="signOut()">Sign out</button>
									</div>
								</div>
								<!-- if user logged in endss -->
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</section>
	<!--Section ends-->
</div>