<!-- footer -->
<footer class="footer-light supa_footer">
    <div class="light-layout">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="subscribe">
                            <div>
                                <h4>STAY IN THE KNOW</h4>
                                <p>Sign up for emails to get 10% off your next purchase, the scoop on new arrivals,
                                    special sales and more.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form
                            action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda"
                            class="form-inline subscribe-form auth-form needs-validation" method="post"
                            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                            <div class="form-group mx-sm-3">
                                <input type="text" class="form-control" name="EMAIL" id="mce-EMAIL"
                                    placeholder="Enter your email" required="required">
                            </div>
                            <button type="submit" class="btn btn-solid" id="mc-submit">Sign Up</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">                    
                    <div class="footer-contanta">
                        <div class="footer-logo"><img src="/assets/images/custom/supagrab-logo.png" alt=""></div>
                        <p>SupaGrab is a Fashion accessories and gift items hub. We possess the latest designs in a
                            variety of Necklaces, Earrings, Bracelets and Pendants.</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/supagrab/"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCzN9UdZiYS4nPPLfGAF8vuw"><i
                                            class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/supagrab"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/supagrab/"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a></li>
                                <li><a href="https://in.pinterest.com/supagrab/"><i class="fa fa-pinterest-p"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">
                    <div class="sub-title">
                        <div class="footer-title footer-mobile-title" [class]="classToggleFooter" (click)="addClassFooterSubMenu()">
                            <h4>Shop <span class="according-menu"></span></h4>
                        </div>
                        <div class="footer-title desk_heading">
                            <h4>SHOP</h4>
                        </div>
                        <div class="footer-contant" [class]="classFooterSubMenu">
                            <ul>
                                <li><a href="#">Earrings</a></li>
                                <li><a href="#">Bracelets</a></li>
                                <li><a href="#">Cosmetics</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Offers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title footer-mobile-title" [class]="classToggleFooter" (click)="addClassFooterSubMenu()">
                            <h4>About <span class="according-menu"></span></h4>
                        </div>
                        <div class="footer-title desk_heading">
                            <h4>About</h4>
                        </div>
                        <div class="footer-contant" [class]="classFooterSubMenu">
                            <ul>
                                <li><a href="javascript:void(0);" [routerLink]="['/about-us']">About Us</a></li>
                                <li><a href="javascript:void(0);" [routerLink]="['/contact-us']">Contact Us</a></li>
                                <li><a href="javascript:void(0);" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                                <li><a href="javascript:void(0);" [routerLink]="['/terms-and-conditions']">Terms and Condition</a></li>
                                <li><a href="javascript:void(0);" [routerLink]="['/cancellation-policy']">Cancellation Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title footer-mobile-title" [class]="classToggleFooter" (click)="addClassFooterSubMenu()">
                            <h4>Info <span class="according-menu"></span></h4>
                        </div>
                        <div class="footer-title desk_heading">
                            <h4>Info</h4>
                        </div>
                        <div class="footer-contant"  [class]="classFooterSubMenu">
                            <ul>
                                <li><a href="javacript:void(0);" [routerLink]="['/contact-us']">Need Help?</a></li>
                                <li><a href="javascript:void(0);">Shipping Info </a></li>
                                <li><a href="javacript:void(0);" [routerLink]="['/faq']">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12">
                    <div class="footer-end text-center">
                        <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright – Supagrab 2021. All Right
                            Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->


<!-- cookie bar start -->
<div class="cookie-bar">
    <p>We use cookies to improve our site and your shopping experience. By continuing to browse our site you accept
        our cookie policy.</p>
    <a href="javascript:void(0)" class="btn btn-solid btn-xs">accept</a>
    <a href="javascript:void(0)" class="btn btn-solid btn-xs">decline</a>
</div>
<!-- cookie bar end -->

<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="quick-view-img"><img src="/assets/images/pro3/1.jpg" alt="" class="img-fluid  ">
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>Women Pink Shirt</h2>
                            <h3>$32.96</h3>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <div class="border-product">
                                <h6 class="product-title">product details</h6>
                                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium</p>
                            </div>
                            <div class="product-description border-product">
                                <div class="size-box">
                                    <ul>
                                        <li class="active"><a href="javascript:void(0)">s</a></li>
                                        <li><a href="javascript:void(0)">m</a></li>
                                        <li><a href="javascript:void(0)">l</a></li>
                                        <li><a href="javascript:void(0)">xl</a></li>
                                    </ul>
                                </div>
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group"><span class="input-group-prepend"><button type="button"
                                                class="btn quantity-left-minus" data-type="minus" data-field=""><i
                                                    class="ti-angle-left"></i></button> </span>
                                        <input type="text" name="quantity" class="form-control input-number" value="1">
                                        <span class="input-group-prepend"><button type="button"
                                                class="btn quantity-right-plus" data-type="plus" data-field=""><i
                                                    class="ti-angle-right"></i></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons"><a href="#" class="btn btn-solid">add to cart</a> <a href="#"
                                    class="btn btn-solid">view detail</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg theme-modal exit-modal" id="exit_popup" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal1">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="media">
                                    <img src="/assets/images/stop.png" class="stop img-fluid   me-3" alt="">
                                    <div class="media-body text-start align-self-center">
                                        <div>
                                            <h2>wait!</h2>
                                            <h4>We want to give you
                                                <b>10% discount</b>
                                                <span>for your first order</span>
                                            </h4>
                                            <h5>Use discount code at checkout</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tap-top top-cls" (click)="goToTop();">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>